<body>
  <div class="text-center bg-light">
    <h1>
      <appname>About Sengoku Cars</appname>
    </h1>
    <appname>
      Sengoku Cars ~ your car life. ~ <br>
      An up-and-coming car maker.<br>
      Run with your life.<br>
      A vast and free world.
    </appname>
  </div>
</body>