<div class="container">
  <div class="row">
    <div class="col-xs">
      <h2 class="head-line title_h2 text-left bg-light border border-dark rounded">よくあるお問い合わせ</h2>
      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs">
      <h2 class="head-line title_h2 text-left bg-danger border border-dark rounded">重要なお知らせ</h2>
      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs">
      <h2 class="head-line title_h2 text-left bg-lighy border border-dark rounded">上記で解決しない場合は？</h2>
      <p>お手数ですが、以下問い合わせフォームからご連絡ください。</p>
      <div class="mx-auto btn btn-info btn-lg" style="width: 200px;">
        <!--問い合わせフォーム実装時にパスを記載する-->
        <%= link_to "Help", class: "text-body" %>
      </div>
      <p></p>
    </div>
  </div>
</div>