<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">モデル編集</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
  <!-- form_with -->
  <%= form_with model: [:admin, @car], local: true do |f| %>
    <%= render 'form_car', f: f %>
    <%= f.submit "変更を保存", class: "btn btn-success btn-lg pull-right" %>
  <% end %>
  </div>
</div>