<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">モデル一覧</h2>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-1">
      <%= link_to new_admin_car_path, class: "btn btn-light pull-right" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th class="bg-light" style="width: 10%">モデルID</th>
          <th class="bg-light" style="width: 60%">モデル</th>
          <th class="bg-light" style="width: 10%">税抜価格</th>
          <th class="bg-light" style="width: 10%">ジャンル</th>
          <th class="bg-light" style="width: 10%">販売ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td class="info", style="width: 10%">
              <%= car.id %>
            </td>
          </tr>
        <% end %>
      </tbody>