<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">モデル新規登録</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
  <!-- form_with -->
  <%= form_with model: [:admin, @car], local: true do |f| %>
    <br>
    <div class="container">
      <div class="form-inline mb-2">
        <%= f.label :"モデル画像", class:"col-sm-3" %>
        <%= f.attachment_field :image, class:"image col-sm-9" %>
      </div>
    </div>
  <% end %>
  </div>
</div>