<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">モデル新規登録</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 px-sm-0 mx-auto">
    <div class="my-3">
    <!-- form_with -->
    <%= form_with model: [:admin, @car], url: admin_cars_path, local: true do |f| %>
      <%= render 'form_car', f: f %>
    <div class="col-sm-5 px-sm-0 mx-auto">
      <%= f.submit "新規登録", class: "btn btn-success text-center" %>
    </div>
    <% end %>
    </div>
  </div>
</div>