<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
    <br>
      <h2 class="font-weight-bold">
        問い合わせが完了しました。
      </h2>
      <p class="my-5">
        回答まで1～3営業日ほどかかる場合がございます。<br>
        恐れいりますが、回答がない場合はメールアドレス「<u>sengoku.cars@gmail.com</u>」宛にご連絡ください。
      </p>
    </div>
  </div>
</div>