<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">来店予約詳細</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 40%">氏名</td>
            <td><%= @visit.name %></td>
          </tr>
          <tr>
            <td style="width: 40%">来店時間</td>
            <td><%= @visit.visit.strftime('%F-%X') %></td>
          </tr>
          <tr>
            <td style="width: 40%">店舗名</td>
            <td><%= @visit.dealer.name %></td>
          </tr>
          <tr>
            <td style="width: 40%">ステータス</td>
            <td>
              <% if @visit.visit_status == 0 %>
                <p class="text-success mt-2">来店待ち</p>
              <% else if @visit.visit_status == 1 %>
                <p class="text-danger mt-2">接客中</p>
              <% else if @visit.visit_status == 2 %>
                <p class="text-primary mt-2">キャンセル</p>
              <% else %>
                <p class="text-secondary mt-2">接客済み</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "更新する", edit_admin_visit_path(@visit), class: "btn btn-success mt-3 mr-3" %>
    </div>
  </div>
</div>