<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集集</h2>
    </div>
  </div>
</div>