<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
    <br>
      <h2 class="font-weight-bold">
        見積りを送付しました。
      </h2>
      <p class="my-5">
        恐れいりますが、受信しない場合はメールアドレス「<u>sengoku.cars@gmail.com</u>」宛にご連絡ください。
      </p>
    </div>
  </div>
</div>