<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">見積り作成</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-3">
    <%= form_with model: @car, url: confirm_estimates_path, local: true do |f| %>
      <div class="form-inline mb-2">
        <%= f.label :"モデル", class:"col-sm-3" %>
        <%= f.collection_select(:car_id, Car.all, :id, :name, prompt: "-- 選択してください --", class:"col-sm-9") %>
        <%= f.submit "見積り確認", class: "btn btn-success ml-5" %>
      </div>
    <% end %>
    </div>
  </div>
</div>