<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
    <br>
      <h2 class="font-weight-bold">
        来店予約が完了しました。
      </h2>
      <p class="my-5">
        お気をつけてお越しください。<br>
        来店を心からお待ちしております。
      </p>
      <!--<div>-->
      <!--  画像を入れる<img class="card-img" src="assets/1291913.png" alt="Thank you" width="100%" height="100%">-->
      <!--</div>-->
    </div>
  </div>
</div>