<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
    <br>
      <h2 class="font-weight-bold">
        来店予約が完了しました。
      </h2>
      <p class="my-5">
        お気をつけてお越しください。<br>
        来店を心からお待ちしております。
      </p>
    </div>
  </div>
</div>