<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">ブログ詳細</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
       <div id="img_field">
        <%= attachment_image_tag @blog, :image, format: 'jpeg', size: "300x230", fallback: "no_image.jpg" %>
      </div>
    </div>

  </div>
</div>